.Header 
{
  background-color: #282c34;
  min-height: 10vh;
  flex-direction: column;
  align-items:center;
}

.Header-logo 
{
  height: 6vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  display: flex;
  float: left;
  margin-top: 15px;;
  margin-right: 10px;
  margin-left: 10px;
}
.Header-Title
{
    color: whitesmoke;
    font-size: calc(10px + 2vmin);
    display: flex;
    float: left;
    margin-top: 25px;
    
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin 
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
