.App 
{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.App-content
{
   height: calc(100vh - 60px);
  margin-right: 260px; /* same width as sidebar */
  padding: 16px;
  overflow-y: auto;
  background-color: #f5f7fa;
  

}

.App-SideMenu
{
  height: calc(100vh - 60px);
  position: fixed;
  top: 90px; /* below header */
  right: 0;
  width: 200px;
  background-color: #282c34;
  color: #fff;
  padding: 16px;
  overflow-y: auto;
  
  

}
/* Side menu links */
.App-SideMenu a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 6px;
}

.App-SideMenu a:hover {
  background-color: #1f2933;
  color: #fff;
}